[Unit]
Description=Joal service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment="JAVA_OPTS=-Xmx256m"
Environment="JAVA_ARGS="
EnvironmentFile=-/etc/default/__APP__
ExecStart=java -jar __INSTALL_DIR__/joal.jar \
    --joal-conf="__DATA_DIR__" \
    --spring.main.web-environment=true \
    --server.port=__PORT__ \
    --joal.ui.path.prefix="__UNSLASHED_PATH__" \
    --joal.ui.secret-token="__PASSWORD__"

[Install]
WantedBy=multi-user.target
